<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="noindex">
    <title>Борлуулалт</title>
    <link rel="stylesheet" href="../../css/admin/nicepage.css" media="screen">
<link rel="stylesheet" href="../../css/admin/Борлуулалт.css" media="screen">
    <script class="u-script" type="text/javascript" src="../../js/admin/jquery.js" "="" defer=""></script>
    <script class="u-script" type="text/javascript" src="../../js/admin/nicepage.js" "="" defer=""></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer ></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <meta name="generator" content="Nicepage 4.17.10, taigam-altai.mn">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link rel="icon" href="../../images/favicon.png">
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Taigam-Admin",
		"logo": "images/Taigamaltailogo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Борлуулалт">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-header u-header" id="sec-fd46"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://taigam-altai.mn" class="u-image u-logo u-image-1" data-image-width="2130" data-image-height="1916">
          <img src="../../images/Taigamaltailogo.png" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-custom-font u-heading-font u-text u-text-default u-text-1">Админ</p>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/admin" style="padding: 10px 20px;">Home</a>
</li>
<li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/sessionLogout" style="padding: 10px 20px;">Гарах</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/admin">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/sessionLogout">Гарах</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    
    <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-4295">
      <div style="width: 80%;height: 50px; display: flex; justify-content: end; align-items: center;">
        <button onclick="createProduct()" id="createbutton" class="u-border-none u-btn u-btn-rectangle u-button-style u-custom-color-1 u-btn-1">Шинээр үүсгэх</button>
      </div>
      <div class="u-clearfix u-sheet u-sheet-1"><!--products--><!--products_options_json--><!--{"type":"products-recent","source":"","tags":"","count":""}--><!--/products_options_json-->
        <div class="u-expanded-width u-layout-horizontal u-pagination-center u-products u-products-1">
          <div class="u-repeater u-repeater-1">
            <% for(var i=0; i < products.length; i++) {%>
              <!--product_item-->
              <div class="u-align-left u-container-style u-products-item u-radius-10 u-repeater-item u-shape-round u-white u-repeater-item-1">
                <div class="u-container-layout u-similar-container u-container-layout-1"><!--product_image-->
                  <img alt="" class="u-expanded-width u-image u-image-default u-product-control u-image-1" src="../../images/product/<%= products[i].mid %>"><!--/product_image--><!--product_title-->
                  <h4 class="u-product-control u-text u-text-1">
                    <a class="u-product-title-link" href="#"><!--product_title_content--><%= products[i].name %><!--/product_title_content--></a>
                  </h4><!--/product_title--><!--product_content-->
                  <div class="u-product-control u-product-desc u-text u-text-2"><!--product_content_content-->
                    <p><%= products[i].desc1 %></p><!--/product_content_content-->
                    
                  </div><!--/product_content--><!--product_button--><!--options_json--><!--{"clickType":"go-to-page","content":"Засах"}--><!--/options_json-->
                  <a href="/admin/sales/<%= products[i].id %>" class="u-border-none u-btn u-btn-rectangle u-button-style u-custom-color-1 u-product-control u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-direction=""><!--product_button_content-->Засах<!--/product_button_content--></a><!--/product_button-->
                </div>
              </div><!--/product_item-->
            <% } %> 
            
            
          </div>
          <div class="u-list-control"></div>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
          </a>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
          </a>
        </div><!--/products-->
      </div>
    </section>
    
    
    
    <script>
      function createProduct() {
        var data = {
          create: 'create'
        }
        fetch('/admin/sales/create', {
          method: "POST",
          headers: {
                      Accept: "application/json",
                      "Content-Type": "application/json",
                      "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                    },
          body: JSON.stringify(data),
        }).then(function(response){
          function setback() {
            document.getElementById('delbutton').innerText = 'Устгах';
          }
          const timeout = setTimeout(setback, 2000);
          switch (response.status) {
            case 201:
              location.reload();
              break;
            
            case 500:
              document.getElementById('createbutton').innerText = 'Алдаа гарлаа';
              timeout
              break;
          }
          console.log(response.status)
          
        });
        
      }
    </script>
  
</body>
</html>