<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>career</title>
    <link rel="stylesheet" href="../../public/css/careers.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <section class="career-column">
      <h2>Нээлттэй ажлын байранд урьж байна</h2>
      <div class="career-container">
        <div class="career-item career-item-1">
          <h3>Тайгам Алтай ХХК</h3>
          <p>
            Тайгам Алтай ХХК нь одоогийн байдлаар барилга угсралтын ажилд
            мэргэшсэн болон мэргэжлийн инженерүүдээр удирдуулсан 3 бригад, нийт
            180 гаруй ажиллагсадтай, 20 гаруй орчин үеийн техник, машин механизм
            бүхий авто парктай бөгөөд барилга угсралтын ажил гүйцэтгэхэд
            шаардагдах тоног төхөөрөмж, ажлын болон хөдөлмөр хамгааллын багаж
            хэрэгслээр бүрэн хангагдан Монгол улсад мөрдөгдөж буй хууль журам
            болон барилгын салбарын норм дүрэм, стандартын дагуу үйл
            ажиллагаагаа явуулж байна.
          </p>
          <p>
            Тус компани нь ажилтнууддаа хөдөлмөр эрхлэх тааламжит нөхцөлийг
            бүрдүүлэх, тэдний орон сууцны хангамжийг нэмэгдүүлэх, эрүүл мэнд,
            эмнэлгийн үйлчилгээнд тогтмол хамруулах, ажлын хувцас, хамгаалах
            хэрэгслээр бүрэн хангах, мэргэжил дээшлүүлэх сургалтад хамруулах
            зэрэг асуудлыг төлөвлөгөөний дагуу үе шаттайгаар авч хэрэгжүүлж
            байдаг.
          </p>
        </div>
        <div class="career-item career-item-2">
          <h3>Нээлттэй ажлын байруудтай танилцах уу?</h3>
          <p>
            Тайгам Алтай ХХК дахь нээлттэй ажлын байруудтай доорхи холбоосоор
            орж танилцана уу?
          </p>
          <button onclick="zangia()"><i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
    </section>
    <script>
      function zangia() {
        location.href = "https://www.zangia.mn/company/taigam-altai";
      }
    </script>
  </body>
</html>
